@* _CommentCreatePartial file *@

<div class="col-md-6 offset-md-3 mb-3">
    <p id="commentContent-create" contenteditable="false" class="card-text text-left" style="background-color: rgb(231, 231, 231); border-radius: 4px; padding: 10px; outline: 0;"></p>
</div>