@model FriendFace.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Button to route to /Login/Register <br/>
    <!-- button that routes to /Login/Register -->
    <form asp-controller="Login" asp-action="Register" method="get">
        <button type="submit">Register</button>
    </form>
    <form asp-controller="Login" asp-action="Index" method="get">
            <button type="submit">Login</button>
    </form>

</div>
